{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'CSS/table.css' %}">
    </head>
        <body>
            <h1>MY Experience</h1>

            <table id="data">
              <thead>
                <tr>
                    <th>Update</th>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Number Of Year Worked</th>
                    <th>Description</th>
                    <th>Delete</th> 
                    
                </tr>
            </thead>
            {% for x in mymembers %}
              <tr>
            <td><a href="updateexp/{{ x.id }}">{{ x.id }}</a></td>
              <td>{{ x.id }}</td>
              <td>{{ x.company}}</td>
              <td>{{ x.role}}</td>
              <td>{{ x.nyear}}</td>
              <td>{{ x.description}}</td>
              <td><a href="deleteexp/{{ x.id }}">delete</a></td>
              </tr>
            {% endfor %}
            </table>
            <p>
                <a href="saveexp/">Add new Experience</a>
            </p>
            <p>
                <a href="main/"> GO TO Main Page</a>
            </p>
            
        </body>
    
</html>

