{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/input.css' %}">
    </head>
    <body>
        <h1>Update Record</h1>
<div>
    <form action="updaterecordintr/{{ mymember.id }}" method="POST">
{% csrf_token %}
<label for="hobies">Hobbie Name</label>
<input type="text" id="hobies" name="hobies" value="{{ mymember.hobies}}">

<label for="links">External Links</label>
<input type="text" id="links" name="links" value="{{ mymember.links }}">
<input type="submit" value="Submit">
</form>
</div>
    </body>
</html>