{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/input.css' %}">
    </head>
    <body>
        <h1>Update Project Details</h1>
<div>
    <form action="updaterecordproject/{{ mymember.id }}" method="POST">
{% csrf_token %}
<label for="skill">Project Name</label>
<input type="text" id="project" name="project" value="{{ mymember.project }}">

<label for="descripton">Project Description</label>
<input type="text" id="description" name="description" value="{{ mymember.description }}">
<input type="submit" value="Submit">
</form>
</div>
    </body>
</html>