{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/input.css' %}">
    </head>
    <body>
        <h1>Update Experence</h1>
<div>
    <form action="updaterecordexp/{{ mymember.id }}" method="POST">
{% csrf_token %}
<label for="company">Comapny</label>
<input type="text" id="company" name="company" value="{{ mymember.company}}">

<label for="role">Role</label>
<input type="text" id="role" name="role" value="{{ mymember.role}}">

<label for="nyear">Year Of Experience</label>
<input type="text" id="nyear" name="nyear" value="{{ mymember.year}}">


<label for="description">Description"</label>
<input type="text" id="description"" name="description"" value="{{ mymember.description }}">
<input type="submit" value="Submit">
</form>
</div>
    </body>
</html>

