{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/input.css' %}">
    </head>
    <body>
        <h1>Update skill</h1>
<div>
    <form action="updaterecord/{{ mymember.id }}" method="POST">
{% csrf_token %}
<label for="skill">Skill Name</label>
<input type="text" id="skill" name="skill" value="{{ mymember.skill }}">

<label for="descripton">Skill Description</label>
<input type="text" id="description" name="description" value="{{ mymember.description }}">
<input type="submit" value="Submit">
</form>
</div>
    </body>
</html>